.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100%;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30rem;
  }
}
